/storage/uploads/cardbackground/*.jpg
/storage/uploads/cardbackground/*.png
/storage/uploads/cardbackground/*.gif
/storage/uploads/photo/*.jpg
/storage/uploads/photo/*.png
/storage/uploads/photo/*.gif